body > table{
    width: 80%;
}
header{
    background-color: aquamarine;
    text-align: center;
    padding: 50px;
    font-size:xx-large;
    font-weight: bold;
    font-style: oblique;
}

table{
    border-collapse: collapse;
    background-color: aquamarine;
    margin-left: 5px;
}
table.list{
    width:100%;

}

td, th {
    border: 1px solid rgb(216, 107, 226);
    text-align: center;
    padding: 10px;
}
tr:nth-child(even),table.list thead>tr {
    background-color:  rgb(144, 143, 241);
    margin-right: auto;
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(158, 238, 165);
    border-radius: 8px;
    box-sizing:border-box;
}

input[type=submit]{
    width: 30%;
    background-color: rgb(144, 143, 241);
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form div.form-action-buttons{
    text-align:center;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}