
header {
    background-color: #070707;
    text-align: center;
    font-size: xx-large;
   }
.logo h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size:xx-large;
    line-height: 25px;
    color: violet;}
.main-menu {
      text-align: right;}
      
 .menu-items {
    margin: 0;
    line-height:1.2em; }
 .menu-items li {
    display: inline-block;
    margin-right: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 1.22px; }
.menu-items a {
    color:violet; }
 .sliding-header-menu-outer {
      position: fixed;
      z-index: 99;
      right: -320px;
      overflow: hidden;
      width: 320px;
      height: 100%;
     }
.sliding-header-menu {
      height: 100vh;
      background-color:violet;
      position: relative;
      width: 100%; }
      
.close-button {
      display: block;
      height: 80px; } 
 .section-title {
    text-align: center; }
.section-title h3 {
      font-size: 22px;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      margin-top: 30px;
      margin-bottom: 8px;
      color:violet;
      text-transform: uppercase; }
.section-title hr {
      text-align: center;
      margin: auto;
      width: 40px;
      border: solid 2px #000000; }
   
  
    .aim-us img {
      width: 26%;
      margin-left: 12px;
      margin-bottom: 8px; }
    .aim-us .aim-us-text p {
      font-size: 16px; } 
  @media only screen and (min-width: 64em) and (max-width: 90em) {
    .section-title {
      padding: 70px 0 50px 0; }
      .section-title h3 {
        font-size: 22px; }
 .welcome-gallery, .welcome-inner, .welcome-slider {
    margin: 0;
    padding: 0; }
  
  .welcome-gallery {
    height: 400px;
    position: relative;
    width: 100%; }
    .welcome-gallery .photo-section, .main-section-title {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
     .photo-section img {
        min-width: 100%;
        height: 100%;
        object-fit: fill;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%); }
    .welcome-gallery .main-section-title {
      z-index: 4 ;
      height: 100%;
      text-align: center; }
      .welcome-gallery .main-section-title h1 {
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 500;
        color: white; }
      .welcome-gallery .main-section-title h2 {
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 300;
        color: white; }
  .books{
    text-align: center; }
    .books .books-title {
      text-align: left; }
      .books .books-title h3 {
        font-family: 'Times New Roman', Times, serif;
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 8px;
        color: #424143;
        text-transform: uppercase; }
      .books .books-title hr {
        margin: 0; }
    .books .slider-bookos{
      overflow: hidden;
      margin-left: -20px;
      margin-right: -20px; }
   
  .contact-us {
    text-align: center;
    padding: 40px 0; }
    .contact-us .contact-us-title {
      text-align: left; }
      .contact-us .contact-us-title h3 {
        font-family: 'Times New Roman', Times, serif;
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 8px;
        color: #424143;
        text-transform: uppercase; }
      .contact-us .contact-us-title hr {
        margin: 0; }
    .contact-us .contact-form input {
      height: 52px;
      font-family: 'Times New Roman', Times, serif; }
    .contact-us .contact-form input[type="submit"] {
      font-weight: 700;
      background-color: #9D9D9D;
      color: #FFF;
      text-transform: uppercase;
      border: none;
      box-shadow: none;
      width: 100%;
      cursor: pointer; }
      .contact-us .contact-form input[type="submit"]:hover {
        background-color: #424143; }
    
  footer {
    background-color: #030303;
    padding-top: 30px;
    text-align: center;
    overflow-wrap: break-word; }
    footer div {
      text-align: left;
      padding-right: 8px;
      margin-bottom: 12px; }
      footer div p {
        color:violet;
        font-weight: normal;
        font-size: 14px; }
    footer .footer-section-title {
      color:violet;
      font-weight: bold;
      font-size: 16px; }
    .tab-box .box-tabs {
      text-align: left;
      background-color:violet; }
      .tab-box .box-tabs .single-tab {
        cursor: pointer;
        font-size: 16px;
        font-weight: 300;
        font-family: 'Times New Roman', Times, serif;
        margin: 0;
        display: inline-block;
        padding: 0 40px;
        height: 70px;
        line-height: 70px; }
    .tab-box #box-text {
      text-align: left;
      padding: 40px;
      font-family:'Times New Roman', Times, serif;
      font-weight: normal;
      font-size: 16px;
      line-height: 28px; }}